name: Deploy updates

on:
  push:
    branches:
      - master

jobs:
  deploy-prod:
    env:
      CVP_PASSWORD: ${{ secrets.CVP_PASSWORD }}
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Hi
        run: echo "Hello World!"

      # - name: Checkout
      #   uses: actions/checkout@v3

      # - name: Setup Python
      #   uses: actions/setup-python@v3

      # - name: Install Python requirements
      #   run: pip3 install -r requirements.txt

      # - name: Run pre-commit on files
      #   uses: pre-commit/action@v3.0.0

      # - name: Install collections
      #   run: ansible-galaxy collection install -r requirements.yml

      # - name: Build and deploy site1
      #   run: make avd-build avd-deploy
